@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Poppins', sans-serif;
}

/* Pasan a ser responsivas las imagenes */
img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.container-2{
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;
    position:relative; /* Necesario para posicionar el pseudoelemento */
  }

.contact-header {
    padding: 150px 0 10px 0;
    min-height: 7vh;
    display: flex;
    align-items: center;
    position:relative;
}
  
.header::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(imagenes/background\ principal.jpg);
   background-size:cover;
   opacity: 0.2; /* Ajusta la opacidad aquí */
   z-index: -1; /* Coloca el pseudoelemento detrás del contenido */
}

.menu{
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li{
    
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #323232;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #02B1F4;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    color: #02B1F4;
    text-transform: uppercase;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content {
    
    display:flex;
}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    line-height: 1;
    color: #323232;
    text-transform: uppercase;
    font-size: 75px;
    margin-bottom: 10px;
}

.header-txt p{
    font-size: 18px;
    color: #3d3d3d;
    margin-bottom: 45px;
}

.header-img {
    width: 50%;
}

.header-img img {
    border-radius: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #02B1F4;
    color: #FFFFFF;
    border-radius: 15px;
}



/* PARTE DE LOS SERVICIOS */

.servicios {
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #fafafa;
}

.servicios h2 {
    color: #323232;
    font-size: 50px;
    margin-bottom: 15px;
}

.servicios-content {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.servicio-1 {
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 20px);
}

.servicio-1 img {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 20px;
    object-fit: cover;
}

.servicio-1 h3 {
    font-size: 20px;
    color: #323232;
    text-transform: capitalize;
}

.servicio-1 p {
    font-size: 14px;
    color:#6e6e6e;
}

.btn-agenda {
    background-color: #02B1F4;
    padding:  17px 30px;
    width: 20%;
    margin-top: 50px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

/* PARTE DE GARANTIZAR */

.garantizar {
    padding: 50px 0 100px 0;
    text-align: center;
}

.garantizar-1 {
    padding: 25px;
    flex-basis: calc(30% - 20px);
}

.garantizar-content {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.garantizar-1 i {
    color: #02B1F4;
    font-size: 80px;
}

.garantizar-1 h3 {
    font-size: 20px;
    color: #323232;
    text-transform: capitalize;
}

.garantizar-1 p {
    font-size: 14px;
    color:#6e6e6e;
}

/* PARTE DEL ACORDEON */
.acordeon {
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #fafafa;
}

.acordeon-dentro {
    margin: 0 300px 0 300px;
    display: flex;
    justify-content: space-between;
}

.accordion-wrapper {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; 
    gap: 20px;
  }

.acordeon h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}

.acordeon h3 {
    color: #fafafa;
}

.accordion {
    width: 45%;
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .accordion-item {
    margin-bottom: 10px;
    
  }
  
  .accordion-title {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #02B1F4;
    margin: 0;
  }
  
  .accordion-content {
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    padding: 1 10px;
    background-color: #fff;
    transition: max-height 0.1s ease, padding 0.1s ease;
    /* Initially hidden */
  }
  
  .accordion-item.active .accordion-content {
    padding: 0 10px;
  }

  .accordion-img {
    width: 45%;
    flex: 1; /* Hace que la imagen ocupe el espacio restante */
    text-align: center; /* Centra la imagen horizontalmente */
  }

/* PARTE DEL ABOUT */

.about {
    padding: 100px 0;
    display: flex;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 500px;
    border-radius: 15px;
}

.about-txt {
    width: 50%;
    margin-left: 25px;
}

.about-txt h2 {
    color: #323232;
    font-size: 50px;
    margin-bottom: 15px;
}

.about-txt p{
    text-align: justify;
    font-size: 16px;
    color: #818181;
}

/* AQUI ES LA PARTE DEL FORM */

.formulario {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    
    padding: 60px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

form h2 {
    
    font-size: 20px;
    color: #323232;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.input-container {
    
    position: relative;
}

/* hace referencia al icono  */
.input-container > i {
    padding: 14px;
    border-radius: 50%;
    background-color: #02B1F4;
    color: #FFFFFF;
    position: absolute;
    font-size: 20px;
    top: 29px;
    left: 5px;
}

/* afecta solo a lo de adentro del form */
.input-container > input, textarea{
    padding: 17px 15px 17px 65px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #02B1F4;
    font-size: 16px;
    outline: none;
    color: #323232;
}

textarea {
    font-family: 'Poppins', sans-serif;
    height: 150px;
}

::placeholder {
    color: #a0a0a0;
    font-size: 16px;
}

.btn {
    background-color: #02B1F4;
    padding:  17px 30px;
    width: 100%;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
}

.footer {
    padding: 50px;
    background-color: #e0f0fd;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link ul li {
    margin-right: 50px;
}

.link ul li a {
    color: #323232;
    font-size: 17px;
}

.link ul li a:hover {
    color: #02B1F4;
}

/* PARTE RESPONSIVA DEL SITIO */
@media (max-width:991px) {
    .menu{
        padding: 20px;
    }
    
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%; /* Start the menu offscreen */
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        display: none;
        /* Transition properties (Method 1) */
        /* transition: all 0.3s ease-in-out; */
      
        /* Animation properties (Method 2) */
        animation: slideDown 0.3s ease-in-out forwards;
      }
      
      @keyframes slideDown {
        from {
          opacity: 0;
          transform: translateY(-100%); /* Start offscreen */
        }
        to {
          opacity: 1;
          transform: translateY(0); /* Slide down to visible position */
        }
      }

      @keyframes slideUp {
        from {
          opacity: 1;
          transform: translateY(0);
        }
        to {
          opacity: 0;
          transform: translateY(-100%); 
      
        }
      }
      
      #menu:checked ~ .navbar {
        display: initial;
      }
      
    .menu .navbar ul li {
        width: 100%;
    }

    

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .header-img{
        width: 100%;
    }
    
    .header-img img {
        display: none;
    }

    .about {
        padding: 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2
    }

    .about-img img {
        margin: 0 auto;
        display: block;
        width: 70%;
    }

    .about-txt{
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .servicios {
        padding: 100px;
    }

    .servicios-content{
        margin-top: 25px;
        flex-direction: column;
    }

    .servicio-1 {
        margin-bottom: 20px;
    }

    .servicio-1 img {
        width: 60%;
        height: 400px;
        margin-bottom: 15px;
        border-radius: 20px;
        object-fit: cover;
    }

    /* Parte de se ofrece */

.acordeon-dentro {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

  

    .formulario {
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }
}


/* PARTE DE FORMULARIO APARTE */
.header-agendar {
    
    background-color: #fafafa;
    padding: 15px 0 1px 0;
    min-height: 30vh;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
}
